<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Listado de integrantes</title>
    <link rel="stylesheet" href="/public/paginas/style.css">
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Listado</h2>
    
        <section>
            <h3>Filtrar datos</h3>
            <form method="get" action="/admin/integrantes/listar">
                <label>ID</label>
                <input type="text" name="s[id]">

                <label>Matricula</label>
                <input type="text" name="s[matricula]">

                <label>Nombre</label>
                <input type="text" name="s[nombre]">

                <label>Apellido</label>
                <input type="text" name="s[apellido]">

                <input type="submit" value="Filtrar">


            </form>
        </section>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <td>Estado</td>
                        <td>Borrar</td>
                    </tr>
                </thead>
                <tbody>
                {{#each integrantes}}
                    <tr>
                        <td>{{matricula}}</td>
                        <td>{{nombre}}</td>
                        <td>{{apellido}}</td>
                        <td>
                        {{#if activo}}
                            Activo
                        {{else}}
                            Inactivo
                        {{/if}}
                        </td>
                        <td>
                            <form action="/admin/integrantes/editForm/{{this.matricula}}" method="get">
                                <input type="submit" value="editar">
                            </form>
                        </td>
                        <td>
                            <form action="/admin/integrantes/delete/{{this.matricula}}" method="post">
                                <input type="submit" value="Eliminar">
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </section>
    <section>
        {{#if integrantes.length}}
            <span><strong>Total de integrantes:</strong>{{integrantes.length}}</span>
        {{else}}
            <span>No hay datos de integrantes registrados</span>
        {{/if}}
    </section>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');

            if (success) {
                toastr.success(success);
            }
        };
    </script>

    <a href="/admin">volver</a>
    <a href="/admin/integrantes/crear">Crear nuevo integrante</a>
</body>
</html>