<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<section>
    <form class="container py-5 h-100" action="/auth/login" method="post">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h2 style="text-align: start !important; cursor: pointer"><i class="fas fa-arrow-circle-left" onclick="window.location.href='/'"></i></h2>
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email"/>
                </div>
                <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input type="password" id="contrasenha" name="contrasenha" class="form-control form-control-lg" placeholder="Contraseña"/>
                </div>
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
        </div>
    </form>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        if (error) {
            const errores = decodeURIComponent(error).split(';');
            errores.forEach((error) => {
                toastr.error(error);
            });
        }
    };
</script>
</body>
</html>