<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Tipo de Media</title>
</head>
<body>
<h1>Tipo de Media</h1>
<h2>Crear</h2>
<section>
    <form action="/admin/tipo_media/create" method="post">

        <fieldset>
            <legend>Tipo de Media</legend>
            <!-- el id se integrante debe ser un campo autonumerico en la creación -->

            <label for="nombre">Nombre</label>
            <input id= "nombre" name= "nombre" type="{{nombre}}">

            <div>
                <label for="activo">Activo</label>
                <input type="radio" id="activo" name="activo" value="1">

                <label for="inactivo">Inactivo</label>
                <input type="radio" id="inactivo" name="activo" value="0">
            </div>

        </fieldset>
        <input type="submit" value="Crear">
    </form>
</section>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        if (error) {
            const errores = decodeURIComponent(error).split(';');
            errores.forEach((error) => {
                toastr.error(error);
            });
        }
    };
</script>

<a href="/admin/tipo_media/listar">Voler al listado de tipos de media</a>
</body>
</html>