<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Listado de tipos de media</title>
</head>
<body>

<section>
    <h3>Filtrar datos</h3>
    <form method="get" action="/admin/tipo_media/listar">
        <label>ID</label>
        <input type="text" name="s[id]">

        <label>Nombre</label>
        <input type="text" name="s[nombre]">

        <input type="submit" value="Filtrar">


    </form>
</section>
    <section>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            {{#each tipoMedia}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>
                        {{#if activo}}
                            Activo
                        {{else}}
                            Inactivo
                        {{/if}}

                    </td>
                    <td>
                        <form action="/admin/tipo_media/editForm/{{this.id}}" method="get">
                            <input type="submit" value="editar">
                        </form>
                    </td>
                    <td>
                        <form action="/admin/tipo_media/delete/{{this.id}}" method="post">
                            <input type="submit" value="Eliminar">
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </section>

    <div style="margin-top: 10px; width: 80%">
        {{#if tipoMedia.length}}
            <span><strong>Total de tipos de media:</strong> {{tipoMedia.length}}</span>
        {{else}}
            <span>No hay tipos de media registrado</span>
        {{/if}}
    </div>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');

            if (success) {
                toastr.success(success);
            }
        };
    </script>
    <a href="/admin">Voler al inicio</a></body>
    <a href="/admin/tipo_media/crear">Crear nuevo tipo de media</a>
</html>